.threeCanvas {
    background-image: radial-gradient(circle min(30vw, 20vh) at center, rgba(0.5, 0.5, 0.5, 0.5), transparent);
}

.projectCard {
    border-radius: 10px;
}

.doggos {
    border-radius: 20px;
}